.message {
  padding: 5px 10px;
  border-radius: 0 10px 10px;
  background-color: white;
  max-width: 70%;
  min-width: 40%;
  display: table;
  margin: 0 0 5px 0;
}

.message.sent {
  background-color: #DCF8C6;
  margin-left: auto;
}

.message.received {
  background-color: #FFFFFF;
  margin-right: auto;
}

.message-status-time {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

.msg-status {
  margin-left: 3px;
}

.msg-time {
  color: rgba(0, 0, 0, .45);
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
}

.message-options {
  padding: 10px;
}

.options-border {
  border: 1px solid #146c43;
  border-radius: 10px;
  padding: 5px;
}

.hover-options:hover {
  border: 1px solid #00a884;
  cursor: pointer;
}

.update-text {
  width: 100%;
}

.image-message {
  max-width: 100%;
}

.sender-tail {
  fill: #e6ffda;
  /*margin-right: -7px;*/
}

.receiver-tail {
  /*margin-left: -8px;*/
}

/*start test*/
.message-text {
  max-width: 70%;
}

.message-text p {
  display: inline;
  word-break: break-word;
  white-space: break-spaces;
}

/*.whatsapp-text-received {
  margin: 0 0 5px 0 !important;
  padding: 4px 5px 6px 7px;
  border-radius: 0 10px 10px 10px;
  background: #ffffff !important;
  box-shadow: 0 1px 1px rgb(0 0 0 / 13%);
  position: relative;
}

.whatsapp-text {
  margin: 0 0 5px auto !important;
  padding: 4px 5px 6px 7px;
  border-radius: 10px 0 10px 10px;
  background: #e6ffda !important;
  box-shadow: 0 1px 1px rgb(0 0 0 / 13%);
  position: relative;
}*/

.whatsapp-text span {
  color: rgba(0, 0, 0, .45);
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
}

.text-msg {
  font-size: 15px;
  padding-left: 3px;
  color: #000000;
  word-wrap: break-word;
}

.space-ex {
  width: 84px;
  display: inline-block;
}

.msg-activity {
  display: inline-block;
  position: absolute;
  justify-content: flex-end;
  right: 10px;
  bottom: 2px;
}

.msg-time {

}

.message-status {
  display: inline-block;
  margin-left: 3px;
}

.msg-status {
  vertical-align: text-bottom;
}


/*start test*/