body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.main-container {
  margin: 0 auto; /* This centers the div */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  border-radius: 15px;
  width: 100%;
}


@media (min-width: 992px) {
  .main-container {
    width: 70%;
    min-width: 700px;
    margin: 0 auto; /* This centers the div */
    /* Additional styles for your content */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for better visual separation */
    background-color: #FFF;
  }
}
